* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1071425021504925757/1210970673048985621/termi.png?ex=65ec7f53&is=65da0a53&hm=afabcf49ed27f4a4d7907d441fc640297a458c6598d98f0a8b773893ab2696ab&');
    background-size: cover;
    background-color: #000;
}

#terminalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.terminal {
    border: 1px solid black;
    border-radius: 16px;
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
}

.scanline {
    margin-top: -40%;
    width: 100%;
    height: 60px;
    position: relative;
    pointer-events: none;
    animation: scan 12s linear 0s infinite;
    background: linear-gradient(to bottom, rgba(56, 112, 82, 0), rgba(56, 112, 82, 0.1)) !important;
}

.text {
    color: rgba(255, 255, 255, 0.8);
    padding: 2em;
	margin-top : 150px;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.2;
    flex-grow: 1;
    overflow-y: scroll;
}

input#commandInput {
    width: 100%;
    padding: 0.5em;
    border: none;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    font-family: monospace;
    font-size: 1.2em;
    outline: none;
}

input#commandInput:focus {
    outline: none;
}

ul.commandList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: rgba(128, 255, 128, 0.8);
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}

ul.commandList li:before {
    content: "> ";
}

/* Animation scan */
@keyframes scan {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(5000%);
    }
}
